<div class="card card-pin  raco" {% unless post.image %} style="min-height:250px;background:#333;" {% endunless %}>
        
    {% unless post.image %}
    
       <a href="{{site.baseurl}}{{post.url}}"  class="d-block p-3">
        <h2 class="card-title title text-white mb-3">{{ post.title }}</h2>         
           <small class="d-block text-muted">{{ post.content | strip_html | truncatewords:25 }}</small>
        <div class="more mr-2 mb-2">                
            <i class="fa fa-arrow-circle-right text-white" aria-hidden="true"></i>
        </div> 
        </a>
        
    {% endunless %}
        
    {% if post.image %} 
    

    <a href="{{site.baseurl}}{{post.url}}">
        
        <img class="card-img" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ post.image | absolute_url }}{% endif %}" alt="{{ post.title }}">
    
        <div class="notraco">
            <h2 class="card-title title">{{ post.title }}</h2>
        </div>
        
        </a>
    
    {% endif %}
        
   
</div>
