<!--  Replace top menu links here -->

<li class="nav-item">
    <a class="nav-link active" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories.html#portrait">Portraits</a>
</li>
<!-- <li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li> -->
<li class="nav-item">
	<!-- <a class="nav-link" href="{{site.baseurl}}/about.html"> -->
		{% if site.gravatarUrl %}
			<img class="rounded-circle mr-2" src="{{site.gravatarUrl}}" width="30">
		{% else %}
			<img class="rounded-circle mr-2" src="{{site.baseurl}}/{{site.avatar}}" width="30">
		{% endif %}
<!-- 		
		<span class="align-middle">About</span>
	</a> -->
</li>
<li class="nav-item dropdown">
	<a class="nav-link" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  <svg style="margin-top:10px;" class="_3DJPT" version="1.1" viewbox="0 0 32 32" width="21" height="21" aria-hidden="false" data-reactid="71"><path d="M7 15.5c0 1.9-1.6 3.5-3.5 3.5s-3.5-1.6-3.5-3.5 1.6-3.5 3.5-3.5 3.5 1.6 3.5 3.5zm21.5-3.5c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5 3.5-1.6 3.5-3.5-1.6-3.5-3.5-3.5zm-12.5 0c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5 3.5-1.6 3.5-3.5-1.6-3.5-3.5-3.5z" data-reactid="22"></path></svg>
	</a>
	<div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="dropdown02">
		<h4 class="dropdown-header display-4">Download Pintereso<br/> Free Bootstrap Jekyll Theme</h4>
		<div class="dropdown-divider">
		</div>
		<span class="dropdown-item">
			<a href="https://github.com/wowthemesnet/template-pintereso-bootstrap-jekyll/archive/master.zip" class="btn btn-primary d-block"><i class="fa fa-download"></i> Download
			</a>
		</span>
	</div>
</li>