<!-- All this area goes before </body> closing tag --> 


<!-- AddThis, replace this with your own code from https://www.addthis.com/ --> 
<!-- <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b15193f169714ca"></script> -->


<!-- Pinterest Script, nothing for you to replace here  --> 
<!-- <script async defer src="//assets.pinterest.com/js/pinit.js"></script> -->

<!-- Cookie Consent, nothing for you to replace here. Remove it if you want  -->
<!-- <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#eb6c44",
      "text": "#ffffff"
    },
    "button": {
      "background": "#f5d948"
    }
  },
  "position": "bottom-left",
  "content": {
    "href": "{{site.url}}{{site.baseurl}}/privacy-policy.html"
  }
})});
</script> -->