---
layout: default
---
<section class="bg-gray200 pt-5 pb-5">    
    <div class="container">
    	<div class="row justify-content-center">
    		<div class="col-md-8">
                
    			<article class="card">
                    
                 {% if page.image %} 
                    <span class="pinme">
                        <a data-pin-do="buttonPin" data-pin-tall="true" href="https://www.pinterest.com/pin/create/button/?url={{site.url}}{{site.baseurl}}{{page.url}}&media={{site.url}}{{site.baseurl}}/{{page.image}}&description={{ page.title }}- {{ page.content | strip_html | truncatewords:25 }}"></a>
                    </span>
                    <img class="card-img-top mb-2" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ page.image | absolute_url }}{% endif %}" alt="{{ page.title }}"> 
                {% endif %}
                    
    			<div class="card-body">
            
            {% if page.title and page.title != "" %}
              <h1 class="display-4">
                {{page.title}} 
              </h1>              
            {% endif %}

            {% if page.metadate or page.author %}
            <small class="text-muted d-block mb-3">
                {% if page.metadate %} 
                    {{ page.date | date: '%B %d, %Y' }} 
                {% endif %}
                
                {% if page.author %}
                    , by {{page.author | capitalize}} 
                {% endif %}
            </small>
            {% endif %}
                    
    				{{ content }}
                    
                    {% if page.visit %}
                      <p><a target="_blank" href="{{page.visit}}" class="btn btn-gray d-block font-weight-bold">
                          Visit <i class="fas fa-external-link-alt"></i></a>
                      </p>
                    {% endif %}
                    
                    {% for category in page.categories %}
                      <a class="btn btn-sm btn-primary mt-2" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">
                        # {{ category | downcase }}
                      </a>
                    {% endfor %}

            {% if page.comments %}
              {% include comments.html %}
            {% endif %}
                    
    			</div>  
                    
    			</article>
                
                <div class="PageNavigation">
                  {% if page.next.url %}
                    <a class="prev" href="{{site.baseurl}}{{page.next.url}}"><i class="fa fa-angle-left"></i> </a>
                  {% endif %}
                  {% if page.previous.url %}
                    <a class="next" href="{{site.baseurl}}{{page.previous.url}}"><i class="fa fa-angle-right"></i></a>
                  {% endif %}
                </div>
                
    		</div>
    	</div>
    </div>
</section>